.gcp {
    display: none;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: 1px solid #ccc;
    bottom: 45px;
    right: 12px;
}

.gcp-autocomplete-wrapper>input {
    cursor: pointer;
    max-width: 20px;
}

.gcp-autocomplete-wrapper>input::selection {
    background: transparent;
}

.gcp-autocomplete-wrapper .gcp-color-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.gcp-top-colors,
.gcp-grid-colors {
    display: flex;
    flex-direction: column;
}

.gcp-row {
    display: flex;
}

.gcp-top-colors {
    margin-bottom: 10px;
}

.gcp-box {
    padding: 2px;
}

.gcp-box-color {
    width: 20px;
    height: 20px;
    border: 1px solid transparent;
    border-radius: 2px;
    transition: 0.3s ease;
    cursor: pointer;
}

.gcp-box:hover .gcp-box-color {
    transform: scale(1.2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.gcp-box.active .gcp-box-color {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}

.gcp.open,
.gcp.slide.close,
.gcp.open,
.gcp.fade.close {
    display: block;
}

.gcp.slide.open {
    animation: slideUpIn 0.3s ease;
}

.gcp.slide.close {
    animation: slideUpOut 0.3s forwards;
}

@keyframes slideUpIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideUpOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(20px);
    }
}

.gcp.fade.open {
    animation: fadeUpIn 0.3s ease;
}

.gcp.fade.close {
    animation: fadeUpOut 0.3s forwards;
}

@keyframes fadeUpIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeUpOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}